{% extends 'storehouse/base.html' %}
{% block content %}
    <h1>Warehouse</h1>
    ilosc wares: {{ wares|length }}
     <p> visits: {{ visits }}</p>
        <p>
            {% for ware in wares %}
                <ul>
                <li>{{ forloop.counter }} <b style = "color:#1246a1;"><a href="{% url 'detail_id' ware.id %}">{{ ware.name|upper }}</a></b> ilość: {{ware.quantity}} id:{{ ware.id }}</li>

                </ul>
            {% endfor %}
        </p>
<button onClick="alert('You clicked the button using Javascript.');">
       Click Me - I run Javascript
</button>
<button id="about-btn"> Click Me - I'm Javascript on Speed</button>

<p>This is a example</p>

<p>This is another example
    <div id="msg">Hello</div>
{% endblock content %}